<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Book by Author
    <span class="badge badge-primary badge-pill">Hardcover</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Another Book by Author
    <span class="badge badge-primary badge-pill">Paperback</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Book by Another Author
    <span class="badge badge-primary badge-pill">E-Book</span>
  </li>
</ul>
