<div class=".container-fluid">
  <div class="jumbotron">
    <h1 class="display-4">My Digital Library</h1>

    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <app-new-book-submission></app-new-book-submission>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <app-library-list [model]="library$ | async"></app-library-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
