<p class="h3">Add a book.</p>

<form (ngSubmit)="onSubmit()"
      #bookForm="ngForm">
  <div class="form-row align-items-center">
    <div class="col-auto my-1">
      <label class="mr-sm-2 sr-only"
             for="format">Book Format</label>
      <select class="custom-select mr-sm-2"
              id="format"
              #format
              required
              appForbiddenName="">
        <option *ngFor="let form of formats"
                [value]="form">{{form}}</option>

      </select>

    </div>
    <input class="form-control"
           name="title"
           placeholder="Book Title"
           required
           minlength="1"
           [(ngModel)]="model.title"
           #title
           #titlemod="ngModel">
    <div *ngIf="titlemod.invalid && (titlemod.dirty || titlemod.touched)"
         class="alert alert-danger">
      <div *ngIf="titlemod.errors.required">
        Please enter an Title for the book <br>(If the work is untitled use "Untitled" as the title)
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <input class=" form-control"
               name="first"
               placeholder="First name"
               [(ngModel)]="model.first"
               #first>
      </div>
      <div class="col">
        <input id="last"
               name="last"
               class="form-control"
               placeholder="Last name"
               required
               minlength="1"
               appForbiddenName="Last name"
               [(ngModel)]="model.last"
               #last
               #lastmod="ngModel">
      </div>
      <div *ngIf="lastmod.invalid && (lastmod.dirty || lastmod.touched)"
           class="alert alert-danger">
        <div *ngIf="lastmod.errors.required">
          Please enter an Author Name (If the author goes by one name enter it into the Last Name field)
        </div>
        <div *ngIf="lastmod.errors.minlength">
          Please enter an Author Name (If the author goes by one name enter it into the Last Name field)
        </div>
      </div>
    </div>
    <br>
    <div class="col-auto my-1">
      <input type="button"
             class="btn btn-primary"
             value="Add New Book"
             [disabled]="!bookForm.form.valid"
             (click)="addBook(title,first,last,format)"
             (click)="this.bookForm.reset()">
    </div>
